body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
}


h1 {
    /*color: #3498db; //Color carácteres*/
    font-size: 2em;
}
/*
p {
    color: #2c3e50;
    font-size: 1.2em;
}

img {
    width: 300px; //ancho
    height: 200px; //alto
    border-radius: 10px; //Bordes redondeados
}
*/

.texto {
    position: relative;
    top: 25px;
    left: 40%;
    color: white;
    text-shadow: 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
}
img {
    position: relative;
    left: 32%;
}